/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        ht_tp: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1000>;
            quick-release;
            ignore-modifiers;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            // Full layout (15×5) based on the provided documentation
            bindings = <
                &kp ESC    &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS   &kp EQUAL   &kp BSPC    &kp DEL
                &kp TAB    &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT    &kp RBKT    &kp BSLH    &kp PG_UP
                &kp CAPS   &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT     &kp ENTER   &none       &kp PG_DN
                &kp LSHFT  &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp RSHFT   &kp RSHFT   &kp UP      &mo 4
                &kp LCTRL  &kp LCTRL   &kp LGUI    &kp LALT    &none       &none       &kp SPACE   &none       &none       &kp RALT    &mo 1       &kp RCTRL   &kp LEFT    &kp DOWN    &kp RIGHT
            >;
        };
        lower_layer {
            // Function keys, media controls, etc.
            bindings = <
                &trans     &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11     &kp F12     &kp DEL     &kp PRINTSCREEN
                &trans     &kp HOME    &kp UP      &kp END     &kp PG_UP   &kp INS     &trans      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS   &kp EQUAL   &trans      &trans
                &trans     &kp LEFT    &kp DOWN    &kp RIGHT   &kp PG_DN   &kp DEL     &trans      &kp N4      &kp N5      &kp N6      &kp DOT     &kp COMMA   &trans      &trans      &trans
                &trans     &trans      &trans      &trans      &trans      &trans      &kp N0      &kp N1      &kp N2      &kp N3      &kp BSLH    &trans      &trans      &trans      &trans
                &trans     &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &mo 2       &mo 3       &trans
            >;
        };
        raise_layer {
            // Symbols and special characters
            bindings = <
                &trans     &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT   &kp CARET   &kp AMPS    &kp ASTRK   &kp LPAR    &kp RPAR    &kp UNDER   &kp PLUS    &trans      &trans
                &trans     &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp LBRC    &kp RBRC    &kp PIPE    &trans
                &trans     &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp COLON   &kp DQT     &trans      &trans      &trans
                &trans     &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp LT      &kp GT      &kp QMARK   &trans      &trans      &trans      &trans
                &trans     &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
            >;
        };
        adjust_layer {
            // System adjustments, Bluetooth, etc.
            bindings = <
                &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                &trans     &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11     &kp F12     &trans      &trans
                &trans     &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                &trans     &trans      &trans      &trans      &trans      &bootloader &reset      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                &trans     &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
            >;
        };
        mod_layer {
            // Additional custom layer
            bindings = <
                &trans     &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                &trans     &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                &trans     &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                &trans     &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                &trans     &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
            >;
        };
    };
};
